body,
h1,
h2,
div,
ul {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  color: rgb(238, 238, 235);
  height: 100vh;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.main-container,
.login-clock-todo-container,
.login-clock-container,
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  justify-content: space-between;
  height: 100%;
}

.login-clock-todo-container {
  justify-content: space-around;
  height: 90%;
}

.login-clock-container {
  margin-top: 30px;
}

input {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  border-bottom: solid rgb(238, 238, 235) 3px;
  color: rgb(238, 238, 235);
  text-align: center;
}

#login-form input {
  width: 390px;
  height: 80px;
  font-size: 40px;
}

::placeholder {
  color: rgb(238, 238, 235);
  text-shadow: 2px 2px #6c6a6ab8;
}

#greeting {
  font-size: 40px;
}

#clock {
  margin-top: 30px;
  font-size: 60px;
}

#todo-form input {
  width: 270px;
  height: 50px;
  font-size: 25px;
}

#todo-list {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgba(126, 126, 126, 0.448);
  padding: 10px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
}

#todo-list li button {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  margin-left: 5px;
}

#quote {
  text-align: center;
  margin: 50px 30px 0 30px;
}

#quote div:last-child {
  margin-top: 10px;
}

#weather {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}

#weather div:first-child {
  margin-bottom: 3px;
}

@media only screen and (min-width: 850px) {
  .login-clock-container {
    margin-top: 0;
    margin-right: 30px;
  }
  #login-form input {
    width: 500px;
    font-size: 45px;
  }

  #greeting {
    font-size: 45px;
  }

  #clock {
    font-size: 70px;
  }

  #todo-form input {
    width: 350px;
    font-size: 35px;
  }

  #todo-list {
    font-size: 23px;
    padding: 15px;
  }
}
